* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #1d1d1d 0%, #2d2d2d 100%);
  color: white;
 font-family: 'PT Mono', monospace;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
form input,
form button {
  padding: 0.5rem;
  font-size: 20pt;
  border: solid 1px;
  font-family: 'PT Mono', monospace;
  color: white;
  border-color: #d4d4d4;
  background: rgba(255, 255, 255, 0);
}

input:focus {
  outline: none !important;
  border-color: #e4e4e4;
  border: solid 2px;
  transition: border-color 1s ease;
}

form button {
  color: #ffffff41;
  background: #f7fffe00;
  cursor: pointer;
  transition: all 0.3s ease;
}


.todo-button:hover {
  color: white;
}


.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #3d3d3d00;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .5s ease;
  border-bottom: solid 1px;
  border-color: #3d3d3d;
}

.todo:hover {
  background-color: #3d3d3d;
}

.filter-todo {
  padding: 1rem;
  background-color: #3d3d3d00;
  border: solid 1px;
  border-color: #a8a8a8;
}
.todo li {
  flex: 1;
}

.trash-btn {
   background: #3d3d3d00;
  color: rgb(255, 45, 45);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #3d3d3d00;
  color: rgb(19, 248, 57);
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #3d3d3d00;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: 'PT Mono', monospace;
  letter-spacing: 2px;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f4700;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/